<ion-view>

  <ion-content>

  <div class="location-bar">{{location().categoryName}} <i class="icon ion-ios-arrow-right"></i> {{location().subCategoryName}} ({{numberOfItems}})</div>

  <div class="shadow">

    <div class="item small-padding">
     
     <rzslider ng-if="init" rz-slider-model="minRangeSlider.minValue" rz-slider-high="minRangeSlider.maxValue" rz-slider-options="minRangeSlider.options"></rzslider>

    </div>

    <label class="item sort item-input item-select">
      <div class="input-label sort">
        Sort Products
      </div>
      <select ng-model="$parent.order" class="sort" ng-change="orderChange()">
        <option value="popular-order-asc">Popularity</option>
        <option value="price-order-asc">Price low to high</option>
        <option value="price-order-desc">Price high to low</option>
      </select>
    </label>
  </div>
<div class="row responsive-sm padding">
<div class="col-50 col-offset-25">
<ion-list>
	<div class="list card" ng-repeat="product in products" ng-show="product.price >= minRangeSlider.minValue && product.price <= minRangeSlider.maxValue">

	  <div class="item item-image">
	<img ng-src="{{product.images[0]}}"/>
	  </div>

	  <div class="item text-center" ng-click="setProduct(product)">
	  	<h2 class="text-overflow">{{product.name}}</h2>
	    <h2 class="price">£{{product.price}}</h2><p><stars rating="3"></stars></p><p>
<span ng-show="product.stock" class="balanced"><i class="icon ion-checkmark"></i>In stock</span><span ng-hide="product.stock" class="assertive"><i class="icon ion-close"></i>Out of stock</span></p>
	  </div>

	</div>
</ion-list>
</div>
</div>

  <ion-infinite-scroll ng-if="loadMore && more" on-infinite="loadMore()" spinner="crescent"></ion-infinite-scroll>

  </ion-content>

</ion-view>
