<ion-side-menus enable-menu-with-back-views="true">
   <ion-side-menu-content>
      <ion-nav-bar class="bar-light">
         <ion-nav-back-button>
         </ion-nav-back-button>
    <ion-nav-title>
      <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
         <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-show="isEnabled()" menu-toggle="left">
            </button>
         </ion-nav-buttons>
         <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-ios-cart" style="position: relative;" menu-toggle="right">
               <div class="cart-counter" ng-show="inCart.length">{{inCart.length}}</div>
            </button>
         </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
   </ion-side-menu-content>
   <ion-side-menu side="left" is-enabled="isEnabled()">
      <ion-header-bar class="bar-dark" title="Cart">
         <h1 class="title">Browse Categories</h1>
      </ion-header-bar>
      <ion-content ng-controller="MenuCtrl" style="background: #eee;">
         <ion-list>
            <ion-item menu-close class="item-icon-left" href="#/">
               <i class="icon ion-ios-home"></i>
               Home
            </ion-item>
            <ion-item class="item-icon-left" ng-click="toggle()">
               <i class="icon ion-chevron-right" ng-hide="showCategories"></i><i class="icon ion-chevron-down" ng-show="showCategories"></i>
               Product Categories
            </ion-item>
            <div ng-show="showCategories" ng-repeat="category in categories">
               <ion-item class="item-icon-left" ng-click="toggle2(category.id)">
                  <i class="icon ion-chevron-down icon-small" ng-show="show[category.id]"></i><i class="icon ion-chevron-right icon-small" ng-hide="show[category.id]"></i>
                  {{category.name}}
               </ion-item>
               <ion-item menu-close class="item-icon-left indent" href="#/app/category/{{category.name}}/{{subcategory.name}}" ng-show="show[category.id]" ng-repeat="subcategory in category.children">
                  <i class="icon ion-minus icon-small"></i>
                  {{subcategory.name}}
               </ion-item>
            </div>
            <ion-item menu-close class="item-icon-left" href="#/app/browse">
               <i class="icon ion-ios-telephone"></i>
               Contact
            </ion-item>
         </ion-list>
      </ion-content>
   </ion-side-menu>
   <ion-side-menu side="right" style="background: #eee;">
      <ion-header-bar class="bar-dark" title="Cart">
         <h1 class="title">Shopping Trolley</h1>
      </ion-header-bar>
      <ion-content ng-controller="MenuCtrl">
         <div class="list">
            <a class="item item-thumbnail-left" ng-repeat="item in inCart track by $index">
               <img href="#app/product/{{item.id}}/{{item.name}}" ng-src="{{item.images[0]}}">
               <h2>{{item.name}}</h2>
               <p>Quantity: {{item.quantity}} <i class="icon ion-plus-round plus-minus" ng-click="changeQuantity('up', item.index)"></i> <i class="icon ion-minus-round plus-minus" ng-click="changeQuantity('down', item.index)"></i></p>
               <p>£{{item.price}}</p>
               <button class="button button-small button-outline button-assertive" ng-click="removeItem(item.index)">
               remove
               </button>
            </a>
         </div>
         <div ng-hide="inCart.length">
            <h1 style="text-align: center; color: #ccc;">Cart empty!</h1>
         </div>
         <div class="padding" ng-show="inCart.length">
            Total: {{cartTotal() | currency : '£'}}
         </div>
      </ion-content>
      <div style="z-index: 9999;" ng-show="inCart.length" class="bar bar-footer bar-balanced">
         <div class="title">Checkout</div>
      </div>
   </ion-side-menu>
</ion-side-menus>