<ion-view view-title="{{category()}}">
  <ion-content>
	<div class="list card" ng-repeat="product in products">

	  <div class="item item-image">
	<ion-slide-box on-slide-changed="slideHasChanged($index)">
	  <ion-slide ng-repeat="image in product.images">
		<img ng-src="{{image}}">
	  </ion-slide>
	</ion-slide-box>
	  </div>

	  <a class="item" href="#">
	  	    <h2>{{product.name}}</h2>

	    <p>£{{product.price}} - <span ng-show="product.stock" class="balanced">In stock!</span><span ng-hide="product.stock" class="assertive">Out of stock!</span> - {{product.rating}} star rating</p>
	  </a>

	</div>
  </ion-content>
</ion-view>
