.title-image {
	height: 27px;
	margin-top: 8px;
}

.content-list ul {
	list-style-type: none !important;
	padding: 0px !important;
}

.order-number {
	background: #fff;
	border-radius: 5px;
}

.promo-img {
	width: 100%;
	border-radius: 5px;
}

.phone-number {
    text-align: center;
    background: #33cd5f;
    width: 80%;
    margin: 0 auto;
    margin-top: -10px;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    color: white !important;
    text-decoration: none !important;
}

.cart-counter {
	background: rgba(255,0,0,0.7);
	border-radius: 50%;
	color: #fff;
	position: absolute;
	bottom: 18px;
	right: 2px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	font-size: 10px;
	font-weight: 900;
}

.tabs-background-me .tabs {
	background: #0097ff !important;
	border: none;
	box-shadow: 0px 0px 5px #888;
}

.bar-light .button.button-clear {
	color: #0097ff;
}

.product-page-margin {
	margin-bottom: 49px;
}

.tab-item .icon {
	height: 25px;
	font-size: 25px;
	margin-top: 4px;
}

.plus-minus {
	font-size: 20px;
	padding: 3px;
}

.location-bar {
	background: #0097ff;
	min-height: 34px;
	width: 100%;
	color: #fff;
	padding: 10px;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	position: relative;
	z-index: 9999;
}

/*.item-complex .item-content, .item-radio .item-content {
	background-color: #0097ff;
	color: #fff;
}

.item-radio {
	border: none;
}

.item-radio input:checked + .radio-content .item-content {
	background: #0097ff;
}

.item-radio input:checked + .radio-content .radio-icon {
	color: #fff;
}*/

/*.bar.bar-light {
	box-shadow: 0px 0px 5px #888;
}*/

.product-finder {
	border: 1px solid #fff;
	position: relative;
	padding: 30px 0px;
}

.padding-16 {
	padding: 16px;
}

.price {
	font-size: 24px !important;
}

.saving {
	font-size: 12px !important
}

.icon.grey {
	color: #ccc;
}

.category-box {
	text-align: center;
	color: #fff;
	font-weight: 100;
	padding: 20px 5px;
	font-size: 16px;
}

.result h2 {
	white-space: normal;
}

.tab-item.active {
	color: #0097ff;
}

.buttons + .buttons {
	display: none;
}

.hide + .buttons {
	display: block;
}

.button-me {
	background-color: #0097ff;
	border: none;
	color: #fff; 
}

.no-padding {
	padding: 0px;
}

stars i {
	color: gold;
	font-size: 20px;
}

.finder-icon {
	width: 100%;
	padding: 10px 20px;
}

.product-slide-box {
	padding-top: 20px; 
	padding-bottom: 45px; 
	text-align: center;
}

.images {
	position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
    z-index: -1;
}

.product-finder-title {
	color: #fff;
	position: absolute;
	top: -12px;
	left: 50%;
	width: 276px;
	margin-left: -138px;
	background: #0097ff;
	text-align: center;
	font-size: 25px;
	font-weight: 100;
}

.bar-footer .title {
    height: 49px;
    line-height: 49px;
}

.text-overflow, #summary > .list > .item, .list h2, .list h3 {
	text-overflow: clip;
	white-space: normal;
}

.bar-footer {
	height: 49px;
}

.text-ellipsis h2 {
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

#description > ul {
	list-style: disc;
	padding-left: 25px;
}

input {
	background-color: transparent;
}

.add-to-cart {
	margin-top: 10px !important;
	margin-bottom: 0px !important;
}

.product-slide {
	padding: 0px 16px;
	background: #fff;
}

.spinner-light .spinner {
    stroke: #fff;
    fill: #fff;
}

.category-product-img {
	min-height: 150px;
}

.item.text p {
	white-space: normal;
}

.button-clear.button-clear {
	color: inherit;
}

.search {
	background: #ccc;
	position: relative;
}

.search input {
	width: 100%;
    color: #ccc;
    text-align: center;
    background: #fff;
    border-radius: 5px;
}

.category-item-container {
	background: #fff;
	border-radius: 5px;
	padding-top: 50%;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right 10px bottom 10px;
    position: relative;
    margin-bottom: 10px !important;
}

.category-item {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

.category-item h2 {
	color: #444;
	font-size: 18px;
	width: 80%;
	text-transform: uppercase;
}

.category-item p {
	color: #0097ff;
	text-transform: uppercase;
	margin: 0;
	position: absolute;
	bottom: 0px;
	font-size: 12px;
	font-weight: 500;
}

.product-card {
	border-radius: 5px;
}

.search::before {
	content: '';
	height: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background: #ccc;
	margin-top: -300px;
}

.small-padding {
	padding-top: 5px;
	padding-bottom: 5px;
}
.product-img {
	width: 100%;
	transition: all 1s;
	max-width: 400px;
}

.shrink {
	width: 50%;
	min-height: 0px;
}

.shadow {
	box-shadow: 0px 0px 5px #888;
}

.tabs.product {
	background: #fff;
	color: #444;
	border-top: 1px solid #ddd !important;
}

.bar-light.product {
	border: none;
	background-image: none;
}

.icon-small {
	font-size: 20px !important;
}

.item-complex.item-icon-left.indent .item-content {
	padding-left: 74px;
}

.item-icon-left.indent .icon {
	left: 31px;
}

.item.item-image img {
	padding: 16px;
	width: auto;
	max-height: 250px;
	max-width: 100%;
}

body {
	background: #eee;
}

.pane, .view {
	background: #eee;
}

.range input {
	margin-top: 10px;
	margin-bottom: 0px;
}

.max-price-label {
	font-size: 12px; 
	text-align: center; 
	position: absolute; 
	width: 100%; 
	top: 8px; 
	left: -11px; 
	z-index: 9999;
}

.location-bar::after {
    content: "";
    background-color: #0097ff;
    color: red;
    height: 500px;
    width: 100%;
    font-weight: bold;
    position: absolute;
    left: 0px;
    top: -500px;
}

